---
layout: archive
---

{{ content }}

<h1>About</h1>

<p>
I am Associate Professor of Sociology of Social Policy in the <a href="https://www.sowi.hu-berlin.de/en/index.html?set_language=en">Department of Social Sciences</a> at <a href="https://www.hu-berlin.de/en?set_language=en">Humboldt-Universität zu Berlin</a> and Senior Research Fellow at the <a href="https://www.diw.de/en">German Institute for Economic Research (DIW Berlin)</a>. My <a href="https://www.sowi.hu-berlin.de/en/lehrbereiche-en/sozpolsoz/research/mywealth_eng/research?set_language=en">research group</a> on personal wealth accumulation in couples is funded by the Emmy Noether Programme of the <a href="https://www.dfg.de/en/index.jsp">German Research Foundation</a></p>

<p>
My main research interests are in social inequalities over and between life courses of individuals in divergent institutional contexts focusing on the family, wealth and employment. I mainly work with longitudinal survey data.</p>

<p>
See my full CV <a href="/assets/pdf/cv_lersch.pdf">here</a>.
</p>

